.menu-texto {

	color: #7e77b0;
}
.login{
	background-color: #167ce9;
	border-radius: 18px;
	color:white;
}

.nav-item{
	margin: 0 1% 0 0;
}

/*        L O G I N     */

.form-login{
    width: 20%;
    margin: 10% 0 0 40%; 
}

.tituloLogin{
    color: white;
    font-family: Arial;
    font-size: 28px;
}


.linkCadastro{
	font-color: white;
}


/*       P A G I N A     I N I C I A L


        carousel          */

.imagemCarroussel{
	height: 700px;
}

/*      departamentos        */

.coluna{
	width: 20%;
	float: left;
}

.departamentos{
	margin: 0 20% 0 20%;
	padding-top:3rm;

	
}

.fundoMenuVertical{
	background-color:  #167ce9;

}

.itensMenuVertical{
	color: rgba(255, 255, 255, 0.6);
}


.tituloDepartamento{
	color: #39345a; 
	font-size: 28px !important;
	margin-bottom: 5%;
}

.text1Departamento{
	color: #7782aa;
	font-size: 15px !important;
	line-height: 1.8;
	font-family: "Roboto", Arial, sans-serif !important;
}

.textLinkDepartamento{
	font-size: 15px !important;
	line-height: 1.8;
	font-family: "Roboto", Arial, sans-serif !important;
}

.icones{
	width: 15%;
	margin-bottom: 5%;
}
.departamentos a:hover{
	color: white;

.